{%  extends "base.html" %}
{%  block head %}
<script>
function onTestChange(){
    var key = window.event.keyCode;
    if (key == 13) {
        sentencePOST();
        $("#sentence").val('');
    };
}

function sentencePOST(){
    var sentence = $("#sentence").val();
    $.post("/trans/post/", {text:sentence}, function(data){
        $("#result").append(data);
        updateScroll();
    });
}

function clearOutput(){
    $("#result").empty();
}

function updateScroll(){
    var ele = document.getElementById("result");
    ele.scrollTop = ele.scrollHeight;
}
</script>
{%  endblock %}
{% block content %}
<br><br>
<div class="row white">
    <div class="large-12 columns">
        <h2>한국어-러시아어 통역 도우미</h2> <input type="button" class ="tiny button" onclick="clearOutput();" value="검색값 지우기">
    </div>
</div>

<!-- The feed -->
<div class="row white">
    <div style = "overflow:auto; height:450px; border:1px solid black;" class="columns large-12" id="result"></div>
</div>

<div class="row white">
    <div class="columns large-12">

            <div class="fieldWrapper">
                <textarea rows="3" id="sentence" onkeypress="onTestChange();"></textarea>
            </div>
            <input type="button" value="문장 분석해 사전 찾기(엔터로도 가능)" class="tiny button" onclick="sentencePOST()">

    </div>
</div>
{% endblock %}
